.wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-it {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1.25rem;
    margin: .5rem;
}

.post-it-title {
    font-size: 1.8rem;
}

.post-it-text {
    margin: 0;
}
