
/*vermelho: #dd0000;*/
/*cinza: #373737;*/
/*azul: #1a5772;*/

body {
    font-family: 'Quicksand', sans-serif;
    color: #373737;
}

.cabecalho {
    color: white;
    background: url("../img/4877_.jpg");
    /*background-color: #373737;*/
    border-bottom: 3px solid #dd0000;
}
